*.pyc
*.sif
*.model
*.zip
*.graph
*.json
*.log
*.txt
*.sas
*.plan
.stignore
__pycache__/
aux/
plan/
plans/
venv/
logs/
trained_models/
data/
_*/
icaps24_gnn_logs_and_models/
icaps24_wl_logs_and_models/
