matplotlib==3.5.0
matplotlib-inline==0.1.7
numpy==1.26.4
PuLP==2.8.0
pybind11==2.12.0
pybind11-global==2.12.0
pymdzcf==0.1.0
pytest==8.2.1
scikit-learn==1.5.0
setuptools>=78.1.1
termcolor==2.4.0
toml==0.10.2
torch==2.7.1+cu118
torch-geometric==2.6.1
torch_scatter==2.1.2+pt27cu118
tqdm==4.66.4
