# Untracked files
*~
*.pyc
src/search/config
src/search/latex
src/search/html
builds/
output.lifted
model.lp
sas_plan
powerlifted.img
powerlifted.sif
reports/
local-tests/
*.out
CMakeFiles
CMakeCache.txt
.cmake
.vscode
cmake-build-debug
.idea
plan
# trained_models
# logs/
plots/

htg-benchmarks
ipc-benchmarks
# goose-benchmarks

lock/
logs/
logs_da/
logs_small/
logs_small_greedyloss/
logs_small_largeval/
plans/

lifted/
gadi_logs/
gadi_logs_gnn/
gadi_logs_h/
trained_models/

*.lifted
*.sif

gadi_logs_h_8gb/
gadi_logs_h_8gb_small/
gadi_logs_validate/
cluster1_gpu_logs/
cluster1_gpu_logs_small/
cluster1_gpu_logs_small_greedyloss/
cluster1_gpu_logs_small_largeval/
cluster1_gpu_logs_da/
plans_opt_1800/
local_logs_validate/

gpu_run_*.log

*.plan