lock
logs*
plans_*
.ipynb_checkpoints
trained_*
trained_models*
validated_models*
saved_models*
data
lifted
plans
plots
plots_old/
aux/
icaps24_logs/
icaps24_train_logs/
icaps24_wl_models/
icaps24*/
plots_*/
1wl_trained_kernel_models/
px/
px*/
zips/
matrices/

*.sh.e*
*.sh.o*
*.log
*.out
*.sas
*.sif
*.graph
*.states
*.model
*.txt
*.npz
*.pkl
*.model
*.zip
*.tar.gz

slg
flg
llg
dlg

sas_files
plans


