lock
logs*
*.sas
*.pkl
plans_*
*.sh.e*
*.sh.o*
.ipynb_checkpoints
*.log
trained_models*
validated_models*
saved_models*
*.sif
data/
lifted/
plans/
plots/

aux_dir/
test.dt

aaai24_*/
all_trained_models/

slg
flg
llg
dlg

sas_files
plans

*.ipynb
util/visualise
util/scrape_log
